body {
  overflow-x: hidden !important;
  position: relative;
    max-width: 100vw !important;

}

html {
  overflow-x: hidden !important;
    max-width: 100vw !important;

}


/* Add to your index.css */
* {
  box-sizing: border-box;
}


/* Force containment for absolutely positioned elements */
#root {
  overflow-x: hidden !important;
  max-width: 100vw !important;
  position: relative;
}

/* Ensure no element can extend beyond viewport */
.min-h-screen {
  overflow-x: hidden !important;
}

.linear-bg {
  background: linear-gradient(to bottom, #66000000  0%, #a5a5a57a 61%, #4549498f  100%);
}


.variable-font {
  font-family: 'Inter', sans-serif;
  font-variation-settings: "wght" 400;
  transition: font-variation-settings 0.3s ease;
}

.variable-font:hover {
  font-variation-settings: "wght" 700;
}